{% extends 'base.html' %}

{% block content %}
    <div style="float:right; padding-left:20px">
        <a href="{{ url_for('createListing') }}" style = "padding:5px; border:3px; border-style:solid; border-color:black; background-color:#04AA6D">Login</a>
    </div>
    <div style="float:right">
        <a href="{{ url_for('login') }}" style = "padding:5px; border:3px; border-style:solid; border-color:black; background-color:#04AA6D">Create Listing</a>
    </div>
    <div style="padding-left:10px; border-bottom:solid #000000">
        <h1><strong>Bronco Mates</strong></h1>
        <p style="padding-left:20px"><i>The place to find your newest roommates!</i></p>
    </div>

    <div style="padding-right:10%;padding-bottom:100%; float:left; background-color:#e6f9ff; border-right:solid #000000; flex-direction:column">
        {% for content in listing %}
        <div>
            <p>Address: {{ content["address"] }}</p>
            <p>Address2: {{ content["address2"] }}</p>
            <p>City: {{ content["city"] }}</p>
            <p>Country: {{ content["country"] }}</p>
            <p>State: {{ content["state"] }}</p>
            <p>ZIP Code: {{ content["zip"] }}</p>
            <p>Beds: {{ content["beds"] }}</p>
            <p>Baths: {{ content["baths"] }}</p>
            <p>Price: {{ content["price"] }}</p>
            <p>Amenities: {{ content["amenities"] }}</p>
            <p>Additional Information: {{ content["addInfo"] }}</p>
            <hr>
        </div>
    {% endfor %}
        

    </div>
    <div style="background-color:#eee; padding-bottom:100%">
        {% for content in account %}
            <div>
                <p>Username: {{ content["username"] }}</p>
                <p>Password: {{ content["password"] }}</p>
                <p>Phone Number: {{ content["phoneNumber"] }}</p>
                <p>Email: {{ content["email"] }}</p>
                <p>Age: {{ content["age"] }}</p>
                <p>Gender: {{ content["gender"] }}</p>
                <p>Standing: {{ content["standing"] }}</p>
                <p>Major: {{ content["major"] }}</p>
                <p>Minor: {{ content["minor"] }}</p>
                <p>Smoker: {{ content["smoker"] }}</p>
                <p># of Pets: {{ content["pets"] }}</p>
                <p>Budget: {{ content["budget"] }}</p>
                <p># of Children: {{ content["children"] }}</p>
                <p>Ocupation: {{ content["ocupation"] }}</p>
                <p>Work Schedule: {{ content["workSchedule"] }}</p>
                <p>Move in Date: {{ content["moveDate"] }}</p>
                <p>Bio: {{ content["bio"] }}</p>
                <hr>
            </div>
        {% endfor %}
    </div>

{% endblock %}