{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Login {% endblock %}</h1>
    <div class="login">
        <form method="post">
            <h1 style="width:50%; margin-left:25%">Bronco Mates</h1>
            <input type="text" name="username" placeholder="Username" value="{{ request.form['username'] }}" 
                style="width:50%; margin-left:25%">
            <br>

            <input type="text" name="password" placeholder="Password" value="{{ request.form['password'] }}"
                style="width:50%; margin-left:25%">
            <br>

            <button type="submit" style="width:50%; margin-left:25%">Login</button>
        </form>
        <a href="{{ url_for('accountSettings') }}" style="width:50%; margin-left:45%">Sign Up</a>
    </div>
{% endblock %}
