{% extends 'base.html' %}

{% block content %}
<br>
    <div class="container-fluid bg-light w-50 p-5">
        <form method="post">
            <h1 class="d-flex justify-content-center">Bronco Mates</h1>
            <input type="text" class="form-control form-control-lg" placeholder="Username" value="{{ request.form['username'] }}">
            <input type="text" class="form-control form-control-lg" placeholder="Password" value="{{ request.form['password'] }}">
            <br>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
        </form>
        <a href="{{ url_for('accountSettings') }}" class="d-flex justify-content-center">Sign Up</a>
    </div>
{% endblock %}
